body {
    /* background: #BCE784; */
    /* background: #5DD39E; */
    background: #348AA7;
    /* background: #525174; */
    /* background: #513B56; */
}

#header {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    user-select: none;
}

#head-name {
    position: relative;
    float: left;
    font-size: 32px;
    font-weight: 600;
}

#head-links {
    position: relative;
    float: left;
    margin-left: 2%;
}

.head-link {
    position: relative;
    float: left;
    font-size: 28px;
    font-weight: 400;
    top: 5px;
    padding: 0px 10px;
}

.head-link:hover {
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

#foot {
    position: relative;
    display: block;
    text-align: center;
    margin-top: 10%;
}